@import url(./assets/styles/variables.css);

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body {
  background: var(--surface-1);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: var(--on-surface-0);
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

h2{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  font-weight: 800;
}
h3 {
  font-size: 20px;
  font-weight: 800;
}
p {
  font-size: 14px;
  font-weight: 400;
  color: var(--on-surface-1);
}

/* ----------------NAVIGATION BAR---------------- */

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(0, 0, 0, 0.6);
  padding: 18px 24px 18px 24px;
  z-index: 10;
}

/* NAVIGATION BUTTONS */

.nav-buttons{
  display: none;
  position: absolute;
  gap: 24px;
  left: 50%;
  transform: translateX(-50%);
}

a{
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  color: var(--primary);
}

.active-page{
  color: var(--on-surface-1);
}

/* MENU BUTTON */

.menu-icon {
  display: flex;
  border-radius: 100px;
  padding: 10px 16px 10px 16px;
  border: solid 2px var(--primary);
  cursor: pointer;
  transition: background 0.2s;
  user-select: none;
}

.menu-icon:hover {
  background: var(--primary);
}

/* NAVIGATION PLAY NOW BUTTON */

.play-now-nav{
  display: none;
  border: solid 2px var(--primary);
  border-radius: 100px;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s;
  user-select: none;
}

.play-now-nav h3{
  font-size: 20px;
}

.play-now-nav:hover{
  background: var(--primary);
}

/* ----------------HEADER---------------- */

header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background: center/cover no-repeat url(./assets/images/defaultImg.png); */
}

/* HEADER'S BACKGROUND VIDEO */

video {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: bottom;
}

.video {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

/* HEADER'S CONTENT */

.header-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 0 100px 0;
  gap: 12px;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  max-width: 360px;
}

.header-text {
  text-align: center;
  font-size: 14px;
}

/* HEADER PLAY NOW BUTTON */

.play-now-header {
  display: flex;
  border: solid 2px var(--primary);
  border-radius: 100px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s;
  user-select: none;
}

.play-now-header h3 {
  font-size: 16px;
}

.play-now-header:hover {
  background: var(--primary);
}

/* ----------------FIRST PART---------------- */


.first-part{
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 24px 24px 24px;
  gap: 12px;
}

/* .quadrilatere{
  position: absolute;
  width: 100%;
  height: 150px;
  top: -8%;
  left: 0;
  object-fit: cover;
}
.quadrilatere-2{
  width: 100%;
  height: 65px;
  transform: rotate(4deg) scale(105%);
  background: linear-gradient(176deg, #675128 -11.15%, #3D2D0D 8.09%, #101010 49.16%)  ;
} */

.first-part-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.first-part-content img{
  width: 100%;
  box-shadow: var(--box-shadow-large);
  object-fit: cover;
}
.first-part-text{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* ----------------MEDIA SCREEN---------------- */

@media screen and (min-width: 450px){
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 24px;
  }
  p{
    font-size: 16px;
  }

  .header-container{
    padding: 50px 0 130px 0;
  }
  .header-text {
    font-size: 16px;
  }

  .first-part{
    gap: 16px;
  }
  .first-part-content{
    gap: 16px;
  }

  .quadrilatere-2{
    height: 90px;
  }
}

@media screen and (min-width: 650px){
  .header-container{
    padding: 50px 0 150px 0;
  }
  
  .first-part{
    padding: 48px 36px 36px 36px;
    gap: 24px;
  }
  .first-part-content{
    gap: 24px;
  }

  h2{
    font-size: 36px;
  }
  h3{
    font-size: 24px;
  }
  p{
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  .menu-icon{
    display: none;
  }
  .nav-buttons{
    display: flex;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 32px;
  }
  p{
    font-size: 20px;
  }
  
  .play-now-nav {
    display: flex;
    border: solid 2px var(--primary);
    border-radius: 100px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
    user-select: none;
  }
  .play-now-nav h3 {
    font-size: 16px;
  }

  .header-container{
    gap: 20px;
    padding: 100px 0 150px 0;
    margin: 0;
  }
  .header-content {
    max-width: 410px;
  }
  .header-text {
    font-size: 20px;
  }
  .play-now-header {
    padding: 12px 24px 12px 24px;
  }
  .play-now-header h3 {
    font-size: 24px;
  }

  .first-part{
    padding: 40px;
  }
  .first-part-content{
    flex-direction: row;
    width: 100%;
    gap: 32px;
  }
  .first-part-content img{
    width: 50%;
    box-shadow: var(--box-shadow-large);
    object-fit: cover;
  }
  .first-part-text{
    gap: 16px;
    margin: 8px 0 8px 0;
  }

  .quadrilatere-2{
    width: 100%;
    height: 85px;
    transform: rotate(4deg) scale(105%);
    background: linear-gradient(176deg, #675128 -11.15%, #3D2D0D 8.09%, #101010 49.16%)  ;
  }
}

@media screen and (min-width: 1050px) {
  .first-part-text{
    margin: 16px;
    gap: 16px;
  }
  .header-container{
    padding: 100px 0 190px 0;
  }
}

@media screen and (min-width: 1150px) {
  h2{
    font-size: 40px;
  }
  p{
    font-size: 24px;
  }

  .header-container{
    margin-right: 50%;
    padding: 120px 0 220px 0;
  }
  .first-part{
    padding: 60px;
    gap: 24px;
  }
  .first-part-content{
    gap: 36px;
  }
}

@media screen and (min-width: 1350px) {
  h2{
    font-size: 48px;
  }
  p{
    font-size: 28px;
  }
  
  .first-part{
    padding: 80px;
  }
  .first-part-text{
    gap: 16px;
    margin: 16px;
  }

  .header-container{
    margin-right: 50%;
    padding: 120px 0 260px 0;
  }

  .quadrilatere-2{
    height: 120px;
  }
}

@media screen and (min-width: 1600px) {
  h2{
    font-size: 56px;
  }
  p{
    font-size: 32px;
  }
  
  .header-container{
    margin-right: 60%;
    padding: 150px 0 290px 0;
  }

  .first-part{
    gap: 40px;
  }
  .first-part-text{
    gap: 24px;
    margin: 36px;
  }

  .quadrilatere{
    top: -10%;
  }
  .quadrilatere-2{
    height: 150px;
    top: -15%;
  }
}

@media screen and (min-width: 2000px) {
  .header-container{
    padding: 150px 0 350px 0;
  }

  .quadrilatere-2{
    height: 170px;
  }
}

@media screen and (min-width: 2400px) {
  .quadrilatere-2{
    height: 200px;
  }
}

@media screen and (min-width: 2900px) {
  .quadrilatere-2{
    height: 250px;
  }
}