@import url(./assets/styles/variables.css);

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  opacity: 0;
  transition: opacity 1.5s;
  background: var(--surface-1);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  color: var(--on-surface-0);
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 800;
}
h4 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
h5 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: var(--on-surface-1);
}
p {
  font-size: 14px;
  font-weight: 400;
  color: var(--on-surface-1);
}

.blue-highlight-remove{
  -webkit-tap-highlight-color: transparent;
}

/* ----------------NAVIGATION BAR---------------- */

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 12px 24px;
  z-index: 10;
}

/* NAVIGATION BUTTONS */

.nav-buttons {
  display: none;
  position: absolute;
  gap: 24px;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  color: var(--primary);
  -webkit-tap-highlight-color: transparent;
}

.nav-link:hover {
  transition: transform 0.2s;
  transform: scale(1.1) translateY(-2%);
}

.active-page {
  color: var(--on-surface-1);
}

/* MENU BUTTON */

.menu-icon {
  display: flex;
  border-radius: 100px;
  padding: 10px 16px 10px 16px;
  border: solid 2px var(--primary);
  cursor: pointer;
  transition: background 0.2s;
  user-select: none;
}
.menu-icon:hover {
  background: var(--primary);
}

/* MENU */

.background {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 40;
  display: none;
}

menu {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100dvh;
  position: absolute;
  background: var(--surface-2);
  right: -300px;
  transition: right 0.4s;
  z-index: 50;
  padding: 24px 20px;
  justify-content: space-between;
}
.menu-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu-icon-container {
  display: flex;
  user-select: none;
}
.menu-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu-link-container {
  display: flex;
  gap: 16px;
  align-items: center;
  transition: transform 0.2s;
}
.menu-link-icon {
  padding: 14px 14px 12px 14px;
}
.menu-link {
  font-size: 28px;
  font-weight: 400;
  color: var(--primary);
  transition: filter 0.2s;
}
.active-menu-link {
  font-size: 28px;
  font-weight: 400;
  color: var(--on-surface-1);
  transition: filter 0.2s;
}
.menu-copyright {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* NAVIGATION PLAY NOW BUTTON */

.play-now-nav {
  display: none;
  border: solid 2px var(--primary);
  border-radius: 100px;
  padding: 10px 20px;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s;
  user-select: none;
}

.play-now-nav h3 {
  font-size: 20px;
}

.play-now-nav:hover {
  background: var(--primary);
}

/* ----------------HEADER---------------- */

header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* HEADER'S BACKGROUND VIDEO */

video {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: bottom;
}

.video {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  transition: opacity .5s;
  opacity: 0;
}

/* HEADER'S CONTENT */

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 150px 12px 100px 12px;
  gap: 12px;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  max-width: 360px;
}

.header-text {
  text-align: center;
  font-size: 14px;
}

/* HEADER PLAY NOW BUTTON */

.play-now-header {
  display: flex;
  border: solid 2px var(--primary);
  border-radius: 100px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s;
  user-select: none;
}

.play-now-header h3 {
  font-size: 16px;
}

.play-now-header:hover {
  background: var(--primary);
}

/* -------------Main---------------- */

main {
  position: relative;
}

.scroll-down {
  display: none;
  align-items: center;
  gap: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  opacity: 1;
  transition: opacity 0.5s;
  filter: drop-shadow(0 0 5px rgba(208, 149, 34, 0.9));
  animation: scrollDownFlash 5s infinite ease-in-out;
}

@keyframes scrollDownFlash {
  0%,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.6;
  }
}

@keyframes onlyTranslateY {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  95% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

/* ----------------FIRST PART---------------- */

.first-part {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 24px;
  gap: 12px;
  transition: opacity 0.7s, transform 0.5s;
}
/* .quadrilatere{
  position: absolute;
  width: 100%;
  height: 150px;
  top: -8%;
  left: 0;
  object-fit: cover;
}
.quadrilatere-2{
  width: 100%;
  height: 65px;
  transform: rotate(4deg) scale(105%);
  background: linear-gradient(176deg, #675128 -11.15%, #3D2D0D 8.09%, #101010 49.16%)  ;
} */

.first-part-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.first-part-content img {
  width: 100%;
  box-shadow: var(--box-shadow-large);
  object-fit: cover;
}
.first-part-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}

.slider-container {
  background: center/cover no-repeat url(./assets/images/background-image.png);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 24px;
  gap: 16px;
}
.slider-container-story{
  position: relative;
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  max-width: 1300px;
  box-shadow: 0px 0px 64px 0px rgba(208, 149, 34, 0.3);
}
.slider-story{
  box-shadow: none;
  margin-left: 40%;
}
/* .slider-story {

} */
.slider-video {
  min-width: 50%;
  width: 100%;
  height: 100%;
  position: relative;
/*-----------------------------------------------------------------------------------*/
}
.slider-video-story{
  position: absolute;
  bottom: 0;
  left: 50px;
}
.slider-video-content-container{
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-video-content-container-story{
  flex-direction: row;
  position: absolute;
}
.slider-video-content-1{
  transition: margin .2s;
}
.slider-video-content{
  display: flex; 
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  transition: margin .2s;
}
.slider-video-content-story{
  width: auto;
  position: absolute;
  height: 80%;
  bottom: 0;
  left: 0;
  transition: transform .3s;
}
.slider-texts-container {
  display: flex;
  background: var(--surface-1);
  width: 100%;
  height: 100%;
  padding: 24px;
}
.slider-texts {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  transition: margin 0.2s;
  /* position: absolute; */
}
.slider-number {
  font-size: 16px;
}
.slider-controls {
  display: flex;
  gap: 8px;
  transform: scale(0.8);
  filter: drop-shadow(0px 0px 8px rgba(208, 149, 34, 0.7));
}
.slider-controls-indicator {
  display: flex;
  gap: 8px;
  user-select: none;
}
.slider-stick {
  transition: filter 0.2s;
}

.available-soon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 24px 48px 24px;
}

.available-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 1600px;
}

.available-soon-title {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.available-soon-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  box-shadow: var(--box-shadow-large);
}

.available-soon-flyer {
  width: 100%;
  object-fit: cover;
}

.available-soon-text-container {
  background: var(--surface-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 6px;
}

.available-soon-logo {
  transform: scale(0.8);
  margin: -8px;
}

.available-soon-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

footer {
  padding: 50px 0 70px 0;
  gap: 36px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--surface-2, #151515);
  background: var(--surface-0);
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-logo {
  transform: scale(0.8);
  margin: -8px;
}

/* ----------------MEDIA SCREEN---------------- */

@media screen and (max-width: 340px) {
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 12px;
  }

  nav {
    padding: 12px;
  }
  nav img {
    transform: scale(0.8);
  }
  .menu-icon {
    margin-right: 8px;
    padding: 8px 12px;
  }

  menu {
    width: 100%;
    right: -100%;
  }
  .menu-container {
    gap: 32px;
  }
  .menu-icon img {
    transform: scale(0.9);
  }
  .menu-links {
    gap: 0;
  }
  .menu-link-container {
    gap: 12px;
  }
  .menu-link-icon {
    padding: 10px 12px;
  }
  .menu-link-icon img {
    width: 25px;
  }
  .menu-link {
    font-size: 18px;
    font-weight: 600;
  }
  .active-menu-link {
    font-size: 18px;
    font-weight: 600;
  }

  .logo-header {
    transform: scale(0.8);
    margin: -16px;
  }
  .header-container {
    padding: 120px 20px 64px 20px;
    gap: 16px;
  }
  .play-now-header {
    transform: scale(0.8);
    margin: -8px;
  }
  .header-text {
    font-size: 10px;
  }

  .first-part {
    padding: 36px 16px;
    opacity: 1;
    transform: translateY(0);
  }
  .first-part-content {
    gap: 4px;
  }
  .first-part-text {
    gap: 6px;
    padding: 4px;
  }

  .slider-container {
    padding: 48px 16px;
  }
  .slider-texts-container {
    padding: 16px;
  }
  .slider-controls {
    margin-top: -8px;
    transform: scale(0.6);
  }

  .available-soon-container {
    padding: 36px 16px;
  }
  .available-soon-logo {
    transform: scale(0.6);
    margin: -16px;
  }
  .available-soon-text-container {
    padding: 24px;
  }

  footer {
    gap: 12px;
    padding: 32px 0 64px 0;
  }
  .footer-logo {
    transform: scale(0.6);
    margin: -16px;
  }
  .footer-social {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 800px) {
  .slider-story{
    filter: drop-shadow(0px -16px 16px rgba(208, 149, 34, 0.3));
    margin-left: 0;
  }
  .slider-video-story{
    position: initial;
    bottom: auto;
    left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider-video-content-container-story{
    flex-direction: row-reverse;
    position: initial;
    width: 80%;
  }
  .slider-video-content-story{
    width: auto;
    position: initial;
    width: 100%;
    height: 100%;
    bottom: auto;
    left: auto;
  }
}

@media screen and (min-width: 450px) {
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 16px;
  }

  .header-container {
    padding: 150px 12px 130px 12px;
  }
  .header-text {
    font-size: 16px;
  }

  .first-part {
    gap: 16px;
  }
  .first-part-content {
    gap: 16px;
  }

  .slider-container {
    padding: 88px 24px;
    gap: 24px;
  }
  .slider-number {
    font-size: 24px;
  }
  .slider-texts-container {
    padding: 40px;
  }
  .slider-controls {
    transform: scale(0.9);
  }

  .available-soon-container {
    gap: 16px;
  }
  .available-soon-text-container {
    gap: 12px;
  }
  .available-soon-text {
    gap: 8px;
  }
  .available-soon-logo {
    transform: scale(1);
    margin: 0;
  }

  .footer-logo {
    transform: scale(1);
    margin: 0;
  }
}

@media screen and (min-width: 650px) {
  .logo-header{
    scale: 1.2;
    margin: 12px;
  }
  .header-container {
    padding: 150px 12px 130px 12px;
  }

  .first-part {
    padding: 64px;
    gap: 24px;
  }
  .first-part-content {
    gap: 24px;
  }

  h2 {
    font-size: 33px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  .slider-container {
    padding: 88px 64px;
    gap: 24px;
  }
  .slider-number {
    font-size: 28px;
  }

  .available-soon-container {
    padding: 80px 64px 80px 64px;
  }
  .available-soon {
    gap: 24px;
  }
}

@media screen and (min-width: 800px) {
  .menu-icon {
    display: none;
  }
  .nav-buttons {
    display: flex;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 16px;
    font-weight: 300;
  }
  p {
    font-size: 20px;
  }

  .background {
    display: none;
  }
  menu {
    display: none;
  }

  .play-now-nav {
    display: flex;
  }

  .header-container {
    gap: 20px;
    padding: 200px 0 150px 0;
    margin: 0;
  }
  .header-content {
    max-width: 410px;
  }
  .header-text {
    font-size: 20px;
  }
  .logo-header{
    scale: 1;
    margin: 0;
  }
  .play-now-header {
    padding: 12px 24px 12px 24px;
  }
  .play-now-header h3 {
    font-size: 24px;
  }

  .slider-container {
    padding: 88px 36px;
    gap: 36px;
  }
  .slider {
    height: 270px;
    flex-direction: row;
  }
  .slider-story{
    height: fit-content;
  }
  .slider-video {
    width: 50%;
  }
  .slider-video-story{
    width: 100% !important;
  }
  .slider-texts-container {
    width: 50%;
  }
  .slider-buttons-container {
    gap: 24px;
  }
  .slider-buttons-indicator {
    gap: 16px;
  }

  .available-soon-container {
    padding: 80px 40px 70px 40px;
  }
}

@media screen and (min-width: 900px) {
  .slider-container {
    padding: 88px 52px;
  }
  .slider {
    height: 320px;
  }
  .slider-story{
    height: fit-content;
  }

  .first-part {
    padding: 40px 40px 70px 40px;
    background: linear-gradient(
      190deg,
      rgba(180, 133, 38, 0.3) 2.3%,
      rgba(126, 91, 26, 0.3) 7%,
      rgba(17, 16, 16, 0.3) 28.07%
    );
  }
  .first-part-content {
    flex-direction: row;
    width: 100%;
    gap: 32px;
  }
  .first-part-content img {
    min-width: 50%;
    max-width: 60%;
    box-shadow: var(--box-shadow-large);
    object-fit: cover;
  }
  .first-part-text {
    gap: 16px;
    margin: 8px 0 8px 0;
  }
}

@media screen and (min-width: 1050px) {
  .first-part-text {
    margin: 16px;
    gap: 16px;
  }
  .header-container {
    padding: 200px 0 190px 0;
  } 

  .available-soon-container {
    background: linear-gradient(
      187deg,
      rgba(180, 133, 38, 0.3) 2.3%,
      rgba(126, 91, 26, 0.2) 7%,
      rgba(17, 16, 16, 0.3) 15.07%
    );
  }
  .available-soon-content {
    box-shadow: var(--box-shadow-large);
    background: linear-gradient(180deg, #1f190e 57.3%, #0b0b0b 112.27%);
    flex-direction: row;
    padding: 56px;
  }
  .available-soon-flyer {
    width: 55%;
  }
}

@media screen and (min-width: 1150px) {
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 24px;
  }
  a {
    font-size: 24px;
  }

  .header-container {
    margin-right: 50%;
    padding: 200px 0 220px 0;
  }
  .first-part {
    padding: 60px 60px 100px 60px;
    gap: 24px;
  }
  .first-part-content {
    gap: 36px;
  }

  .slider-container {
    padding: 150px 100px;
    gap: 40px;
  }
  .slider {
    height: 350px;
  }
  .slider-story{
    height: fit-content;
  }
  .slider-number {
    font-size: 32px;
  }
  .slider-texts-container {
    padding: 64px;
  }

  .available-soon-container {
    padding: 100px 60px 100px 60px;
    gap: 24px;
  }
}

@media screen and (min-width: 1350px) {
  h2 {
    font-size: 48px;
  }
  h4 {
    font-size: 36px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 28px;
  }

  .header-container{
    height: 100vh;
    margin-right: 50%;
  }

  .scroll-down {
    display: flex;
  }

  .first-part {
    padding: 80px 80px 150px 80px;
  }
  .first-part-text {
    gap: 16px;
    margin: 16px;
  }

  .quadrilatere-2 {
    height: 120px;
  }

  .slider {
    height: 400px;
  }
  .slider-story{
    height: fit-content;
  }
  .slider-number {
    font-size: 40px;
  }
  .slider-controls {
    transform: scale(1.2);
  }
  .slider-texts-container-story{
    width: 70%;
  }

  .available-soon-container {
    padding: 120px 80px 150px 80px;
  }
  .available-soon-text-container {
    padding: 64px 64px 128px 64px;
  }
  .available-soon-logo {
    transform: scale(1.2);
    margin: 12px;
  }
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 56px;
  }
  p {
    font-size: 32px;
  }

  .header-container{
    margin-right: 55%;
  }

  .first-part {
    gap: 40px;
  }
  .first-part-text {
    gap: 24px;
    margin: 36px;
  }

  /* .quadrilatere{
    top: -10%;
  }
  .quadrilatere-2{
    height: 150px;
    top: -15%;
  } */

  .slider {
    height: 450px;
  }
  .slider-story {
    height: fit-content;
    margin-left: 35%;
  }
  .slider-video-story{
    left: 70px;
  }
  .slider-video-content-story{
    height: 90%;
  }

  .available-soon {
    gap: 40px;
  }
  .available-soon-text-container {
    padding: 80px 80px 178px 80px;
  }
}

@media screen and (min-width: 1800px) {
  .header-container{
    margin-right: 60%;
  }

  .slider-story {
    height: fit-content;
    margin-left: 30%;
  }
  .slider-video-story{
    left: 100px;
  }
}
